* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body {
    background: radial-gradient(circle at center, #2c2c2c, #1a1a1a, #0d0d0d);
    color: #fff;
    
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    list-style: none;
    margin-bottom: 40px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ff6600;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}
.price-section {
    margin-bottom: 40px;
}

.price-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background: linear-gradient(145deg, #2c2c2c, #3b3b3b);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    max-width: 300px;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #444;
}

.info {
    padding: 15px;
}

.info h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.info p {
    font-size: 0.90em;
    margin-bottom: 15px;
}

a{
    text-decoration: none;
    color: white;
}

.btn {
    background-color: #ff6600;
    width: fit-content;
    color: white;
    padding: 0.8rem 2.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    position: relative;
    border-radius: 8px;
    z-index: 1;
  }
  
  .btn::before{
    content: "";
    position: absolute;
    background-color: black;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 8px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s ease;
  }
  
  .btn:hover{
    color: #e84949;
    border-radius: 8px;
    
  }
  
  .btn:hover::before{
    transform: scaleX(1);
    border-radius: 8px;
  }
  

@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(100% - 40px);
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .card {
        flex: 1 1 calc(45% - 40px);
    }
}

@media (min-width: 1025px) {
    .card {
        flex: 1 1 calc(30% - 40px);
 }
}
